@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #363e46;
  --color-foreground: #fefeff;
  --color-accent: #2e8ef5;
  --color-acrylic: #1f202199;
  --color-highlight: #fefeff19;
  --color-acrylic-separator: #eff7ff26;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Inter, Ubuntu, Arial, Helvetica, sans-serif;
}

.material-acrylic {
  @apply bg-acrylic border-acrylic-separator;
}

.with-highlight:hover:before {
  @apply bg-highlight;
  content: " ";
  position: absolute;
  inset: 0;
}
